.header {
    border-bottom: 1px solid var(--grey-2);
    background-color: var(--white);
    padding: 16px 16px 69px 16px;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__title {
    font-family: Inter;
    font-size: 28px;
    line-height: 38px;
    margin-top: 48px;
    color: var(--grey-4);
}

.header_component{
    background: var(--background-layout);
    border-bottom: 0;
    padding: 16px;
}

@media  screen and (min-width: 768px) {
    .header {
        padding: 0 0 77px 0;
    }
    
    .header__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
        margin-top: 40px;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0;
        margin-top: 24px;
    }
   
    .header_component {
        padding-bottom: 15px;
    }   
}
