.header {
    background-color: var(--white);
    padding-bottom: 77px;
}

.header__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin-top: 40px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-top: 24px;
}

.header_component {
    border-bottom: 0;
    background: var(--background-layout);
    padding-bottom: 15px;
}