.tabs__scroller {
    display: flex;
    gap: 40px;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    position: relative;
    white-space: nowrap;
    bottom: 37px;
}

.radio__input_all-tab:checked ~ .tabs__scroller .tabs__scroller_all-tab,
.radio__input_elements-tab:checked ~ .tabs__scroller .tabs__scroller_elements-tab,
.radio__input_container-tab:checked ~ .tabs__scroller .tabs__scroller_container-tab,
.radio__input_templates-tab:checked ~ .tabs__scroller .tabs__scroller_templates-tab{
    color: var(--black);
    border-bottom: 5px solid var(--black);
    padding-bottom: 8px;
}

.radio__input_all-tab:hover ~ .tabs__scroller .tabs__scroller_all-tab,
.radio__input_elements-tab:hover ~ .tabs__scroller .tabs__scroller_elements-tab,
.radio__input_container-tab:hover ~ .tabs__scroller .tabs__scroller_container-tab,
.radio__input_templates-tab:hover ~ .tabs__scroller .tabs__scroller_templates-tab{
    cursor: pointer;
}

.radio__input_all-tab:checked ~ .preview .preview__card {
    display: flex;
}

.radio__input_elements-tab:checked ~ .preview .preview__card_elements {
    display: flex;
}

.radio__input_container-tab:checked ~ .preview .preview__card_container {
    display: flex;
}

.radio__input_templates-tab:checked ~ .preview .preview__card_templates {
    display: flex;
}