.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    width: 354px;
    height: 185px;
    padding-bottom: 24px;
}

.histogram__header {
    max-width: 306px;
    margin: auto;
}

.histogram-title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    padding-top: 16px;
}

.header1 {
    display: flex;
    justify-content:space-between;
}

.histogram-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
    padding-top: 19px;
}

.histogram-number {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    padding-top: 6px;
}

.histogram-image {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    padding-left: 21px;
    padding-right: 24px;
    position: relative;
    height: 85px;
}

.histogram-image__block {
    flex: auto;
    height: 20px;
    background: #4263EB;
    justify-content: space-between;
    
}