.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 24px;
}

.histogram__header {
    padding-left: 24px;
    padding-right: 24px;
}

.histogram__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    padding-top: 16px;
}

.header__inner {
    display: flex;
    justify-content:space-between;
}

.histogram__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--blue1);
    padding-top: 19px;
}

.histogram__number {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    padding-top: 6px;
}

.histogram-image {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    padding-left: 21px;
    padding-right: 24px;
    position: relative;
    height: 85px;
}

.histogram-image__block {
    flex: auto;
    background: var(--blue1);
    justify-content: space-between;
}