@mixin text ($size:false, $color:falce, $lh:false) {
    font-family: 'roboto', 'sans serif';
    @if $size {font-size: $size}
    @if $color {color: $color}
    @if $lh {line-height: $lh}
}

.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 24px 24px;

    &_preview {
        width: 290px;
    }
    
    &__title {
        font-family: Inter;
        opacity: 0.8;
        @include text (16px, var(--black), 24px);
    }
    
    &__inner {
        display: flex;
        justify-content:space-between;
    }
    
    &__link {
        font-family: Inter;
        text-align: right;
        padding-top: 3px;
        @include text (16px, var(--primary), 24px);
    }
    
    &__number {
        font-family: Inter;
        color: var(--black);
        padding-top: 6px;
        @include text (20px, var(--black), 26px);
    }
    
    &__chart {
        display: flex;
        align-items: flex-end;
        gap: 1px;
        position: relative;
        height: 50px;
        padding-top: 39px;
    }
    
    &__column {
        flex-grow: 1;
        background: var(--primary);
    }
}