$white: #ffffff;
$purple: #7048E8;
$dark-purple: #5028C6;
$blue: #374FC7;
$dark-blue: #2342C0;
$primary: $blue;
$secondary: $purple;
$primery-active: $dark-blue;
$secondary-active: $dark-purple;
$grey-3: #ACB5BD;
$grey-4: #495057;
