.footer {
    display: none;

    @media  screen and (min-width: 768px) {
            display: block;
            background-color: var(--white);
    
        &__title {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 48px;
            color: var(--black); 
            margin: 72px 0 32px;
            text-align: center;
        }
    
        &__description {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: var(--black);
            width: 640px;
            margin: 0 auto;
            margin-bottom: 136px;

            &_component {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: var(--grey-3);
                padding-bottom: 56px;
            }
        }
    
        &_component {
            background: var(--background-layout);
        }
    }
}