.nav {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.nav__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--grey-3);
}

.nav__link:hover {
    color: var(--black);
}
