.form {
    display: inline-block;
    position: relative;
}

.form__input {
    width: 350px;
    Height: 56px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 24px;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.form__input:focus {
    border: 1px solid var(--primary);
}

.form__input_success {

}

.form__input_invalid {
    border: 1px solid var(--red);
}

.form__input_invalid:focus {
    border: 5px solid var(--red);
}

::placeholder {
    color: var(--grey-2);
}

.form__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 15px
}

.form__input_success::placeholder {
    color: var(--grey-4);
}

.form__input_invalid::placeholder {
    color: var(--grey-4);
}