.form-group {
    display: inline-block;
    position: relative;
}

.form-group__input {
    width: 350px;
    Height: 56px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 17px 40px 13px 24px;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.form-group__input:focus {
    border-color: var(--primary);
}

.form-group__input_invalid {
    border-color: var(--red);
}

::placeholder {
    color: var(--grey-2);
}

.form-group__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 15px
}

.form-group__input_success::placeholder {
    color: var(--grey-4);
}

.form-group__input_invalid::placeholder {
    color: var(--grey-4);
}